@media screen and (max-width: 800px){
nav{
  padding: 0 1em;
  gap: 100px;
}
  nav ul{
    display: none;
  }

  .sec2{
    display: none;
  }

  .hamburger{
    display: flex;
  }

  .sidebar-total{
    display: flex !important;
  }

  #checkbox {
    display: none;
  }
  
  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .5s;
  }
  
  .bars {
    width: 100%;
    height: 4px;
    background-color: var(--soft-pink);
    border-radius: 4px;
  }
  
  #bar2 {
    transition-duration: .8s;
  }
  
  #bar1,#bar3 {
    width: 70%;
  }
  
  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
  }
      








    .sidebar-total {
      width: 0px;
      /* background-color: blue; */
      position: fixed;
      height: 100vh;
      display: flex;
      inset: 0;
      margin-left: auto;
      overflow: hidden;
      transition: .4s;

      /* margin-left: auto; */
  }

  .exit {
      flex: 1;
      /* background-color: red; */
      /* transition-delay: 1s; */
      background-color: rgba(0, 0, 0, 0.177);
  }

  .sidebar {
      display: flex;
      flex-direction: column;
      width: 70%;
      background-color: white;
      height: 100%;
      padding: 0px 30px;

  }

  .sidebar ul {
  display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 20px;
      
  }


  .side-nav {
      height: 80px;
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: flex-end;
      padding: 0px 10px;
  }

  .side-nav .hamburger .row-one span:nth-child(1) {
      rotate: 45deg;

  }

  .side-nav .hamburger .row-one span:nth-child(2) {
      rotate: -45deg;
      margin-left: -3px;

  }

  .side-nav .hamburger .row-three span:nth-child(1) {
      rotate: -45deg;

  }

  .side-nav .hamburger .row-three span:nth-child(2) {
      rotate: 45deg;
      margin-left: -3px;
  }

  .side-nav .hamburger .row-two:nth-child(2) {
      display: none;

  }

  .show {
      width: 100%;
  }


.hero{
  padding: 1rem !important;
}

  .hero h1{
    font-size: 4rem !important;
    line-height: 4rem !important;
  }

  .hero p{
    font-size: 0.9rem !important;
  }


  /* about */

  .about{
  padding: 4rem 1rem;
  }

  .about-cont div{
    margin-top: 3rem;
    padding: 3rem 1rem !important;
  }

  /* how we work */

  .empower{
    padding: 4rem 0px !important;

  }

  .empower div{
    width: 90% !important;
  }

  .empower div{
    padding: 3rem 1rem !important;
  }
  /* sponsors */

  .sponsors{
    height: 150vh !important;
  }
  
  .sponsors h2{
    scale: 0.8;
  }
  
  .spon-cont div{
    height: 20% !important;
    margin-top: 2rem;
  }
  .spon-cont{
    /* gap: 20px !important; */
    /* padding: 0px !important; */
    height: 80% !important;
    flex-direction: column !important;
  }

  /* testimonials */

.testimonial{
  height: 140vh !important;
  /* padding: 20rem 0px !important; */
}

  .test-wrap{
    flex-direction: column !important;
    gap: 2rem;
    /* margin-top: 2rem; */

  }

  .test-wrap div{
    width: 86% !important;
  }

  /* our start up programs */

  .kickstart{
    padding: 4rem 1rem !important;
    height: 170vh !important;
    }
  
.kickstart h2{
  scale: 0.9;
  text-align: center;
}

.kickstart div p{
  font-weight: 400;
}

    .kick-cont div{
      margin-top: 3rem;
      padding: 1rem !important;
      height: 30% !important;
    }


    /* subscribe */

    .subscribe{
      flex-direction: column;
      padding: 2rem !important;
text-align: center;
height: 56vh !important;

    }

    .subscribe h2::after{
      scale: 1.4 !important;
  }

    .input{
      flex-direction: column;
      background-color: transparent !important;
      width: 100% !important;

    }

    .input input{
border-radius: 4px;
flex: none;
height: 100% !important;
gap: 0px !important;

    }

    .input button{
      height: 100px !important;
    }

    /* footer */

    footer ul{
      /* padding: 1rem; */
      scale: 0.8;
    }
}
