*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-family: 'Poppins', sans-serif;
transition: all 500ms ease-in-out;
transition-delay: 1s; 
}


:root{
  --light-grey: #eaeaea;
  --soft-blue: #001f3f;
  --soft-pink: #b10f2e;

  --grad-color: linear-gradient( #b10f2e, #001f3f);

}

li{
  list-style: none;
}
nav {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 20rem; */
  /* justify-content: center; */
  padding: 0px 60px;
  /* background:  rgb(27, 26, 26); */
  position: fixed;
  z-index: 100000000;
  /* background: linear-gradient(to bottom, black, transparent); */
  background: linear-gradient(to bottom, hsla(0, 0%, 2%, 0.9), transparent);
}

.logo{
  font-size: 2rem;
  font-weight: 600;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;

}

nav ul {
  display: flex;
  /* width: 20%; */
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  /* justify-content: space-between; */
}

nav a {
  height: 50px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}


.active:focus .side-bar{
  width: 0px !important;
}

nav ul li {
  font-size: 1rem;
  font-weight: 600;
  height: 70%;
  width: fit-content;
  list-style: none;
  color: white;
  position: relative;


}

.sidebar-total{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  transition-delay: 1s;  
}



.side-bar {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 0px;
  height: 100vh;
  
  overflow: hidden;
  background-color: black;
  z-index: 11;
  padding-top: 10px;
  padding-left: 12px;
  /* color: white; */
}

.sidebar ul li a {
  height: 40px;
  min-width: 100px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-weight: 600;
  font-size: 1.2rem;
  color: #001f3f;
  /* justify-content: center; */
}

.sidebar ul li a:focus{
  padding-left: 2rem;
  font-size: 1.6rem;
  font-weight: 700;
}

/* .side-bar a:hover, */
nav a:hover li {
  background-color: rgb(48, 122, 243);
  border-radius: 40px;
  color: black;

}

.side-bar ul li {
  font-size: 18px;
  font-weight: 600;
  height: 60%;
  list-style: none;


}

.show{
  width: 70%;
 transition-delay: 1s;
}

.close{
  /* background-color: red; */
  position: relative;
  transition: all 700ms ease-in-out;
  /* transform: rotate(45deg); */
  /* width: 0px; */
}

.close:hover {
  scale: 0.8;
  /* transform: rotate(315deg); */
}

.close span{
  position: absolute;
  width: 5%;
  inset: 0;
}

.close span:nth-child(2){
  transform: rotateZ(90deg);
  width: 100% !important;
  /* border-color: red; */
}


.hamburger{
  display: none;
}



#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: .5s;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: white;
  border-radius: 4px;
}

#bar2 {
  transition-duration: .8s;
}

#bar1,#bar3 {
  width: 70%;
}

#checkbox:checked + .toggle .bars {
  position: absolute;
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: .5s;
}

#checkbox:checked + .toggle {
  transition-duration: .5s;
  transform: rotate(180deg);
}

nav ul li:hover::after{
  transform: scaleX(1);


}

nav ul li::after{

  content: '';
  position: absolute;
  width: 100%;
  border: 1px solid var(--soft-pink);
  border-radius: 4px;
  transform-origin: left;
  transform: scaleX(0);
  bottom: 0;
  transition: all 500ms ease;
}




.svg {
  transform: rotate(180deg);
}

.nav {
  display: flex;
  align-items: center;
}

.sec1 {
  gap: 70px;
}

.sec2 {
  gap: 3rem;
  align-items: center;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

.sec2 ul {
  display: flex;
  align-items: center;
}

.sec2 button {
  height: 40px;
  width: 120px;
  background: none;
  border: 2px solid white;
  border-radius: 10px;
  color: inherit;

}



