*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* flex-wrap: wrap; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
    overflow: hidden;
}

:root{
    --light-grey: #eaeaea;
    --soft-blue: #001f3f;
    --soft-pink: #b10f2e;

}

svg{
    fill: var(--soft-pink);
}

h2{
    position: relative;
    /* color: var(--soft-blue); */
}


h2::after{
    content: '';
    border: 2px solid var(--soft-pink);
    border-radius: 4px;
    position: absolute;
    width: 100%;
    bottom: -1rem;
    left: 0;
    transform: scaleX(0.5);
}

.hero{
    height: 100vh;
    width: 100%;
    
    text-align: left;
    padding: 0px 8em;
    background: url(src/assets/7787d49e60dfae3ee0ac23958c6563b8.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.cont{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    z-index: 10;
    position: relative;
    color: white;
}

.hero::before{
    content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.63); /* Adjust the alpha (last) value to control darkness */
  pointer-events: none;
}

.hero h1{
    font-size: 12vh;
    font-weight: 700;
    max-width: 45rem;
    line-height: 5rem;
    text-transform: capitalize;
}

.hero p{
    max-width: 45rem;
    font-size: 3vh;
}

.hero button{
    background: linear-gradient(to left, var(--soft-blue), var(--soft-pink));
    border: none;
    color: white;
    font-size: 1em;
    font-weight: 500;
    height: 3.6rem;
    width: 10rem;
    border-radius: 4px;
}

/* what we do */

.about{
    min-height: 80vh;
    background-color: var(--light-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.about h2{
    font-size: 3rem;
}

.about h3{
    font-size: 2rem;
}

.about p{
    font-size: 1rem;
    font-weight: 500;
}

.about div{
    height: 70%;
    width: 400px;
    /* width: 30%; */
    /* border: 1px solid grey; */
    box-shadow: 0px 0px 1px 0px #888,
        inset -2px -2px 10px 0px #888;
    border-radius: 6px;
    background-color: white;
    display: flex;
    align-items: start;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    padding: 1rem;
}

.about-cont{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2rem;
    /* gap: 20px; */
}

.about svg{
    height: 4rem;
}


/* how we work */

.empower{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 100%;
    padding: 2rem 0px;
}

.empower h2{
    font-size: 3rem;
}

.empower h3{
    font-size: 2rem;
}

.empower div{
    height: 70%;
    width: 400px;
    margin-top: 2rem;
    box-shadow: 0px 0px 10px 0px rgba(128, 128, 128, 0.386);
    border-radius: 6px;
    background-color: white;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    padding: 1rem;
}

.empower p{
    font-size: 1rem;
    font-weight: 500;
}


.empower svg{
    height: 4rem;
}

.empower-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
}

/* startup programs */

.kickstart{
    height: 100vh;
    background-color: var(--light-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 0px;
}

.kickstart h2{
    font-size: 3rem;
}

.kickstart h3{
    font-size: 1.4rem;
}

.kickstart p{
    font-size: 1rem;
    font-weight: 500;
}

.kickstart div{
    height: 60%;
    width: 400px;
    /* width: 30%; */
    /* border: 1px solid grey; */
    box-shadow: 0px 0px 1px 0px rgba(128, 128, 128, 0.265),
        inset -2px -2px 10px 0px rgba(128, 128, 128, 0.386);
    border-radius: 6px;
    background-color: white;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    padding: 1rem;
}

.kick-cont{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* gap: 20px; */
}

.kickstart svg{
    height: 4rem;
}

.kickstart a{
    color: var(--soft-blue);
    font-weight: 600;
    font-size: 1.2rem;
}

/* sponsors */

.sponsors{
    height: 80vh;
    background-color: var(--light-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.sponsors h2{
    font-size: 3rem;
}

.sponsors h3{
    font-size: 2rem;
}

.sponsors p{
    font-size: 1rem;
    font-weight: 500;
}

.sponsors div{
    height: 50%;
    width: 200px;
    /* width: 30%; */
    /* border: 1px solid grey; */
    box-shadow: 0px 0px 1px 0px #888,
        inset -2px -2px 10px 0px #888;
    border-radius: 6px;
    /* background-color: white; */
    /* background-position: top; */
    /* background-size: cover;
    background-repeat: no-repeat; */
    display: flex;
    align-items: start;
    /* flex-direction: column; */
    background-repeat: no-repeat;
    /* gap: 20px; */
    padding: 1rem;
}

.sponsors div:nth-child(1){
    background: url(src/assets/789cd02c737a5119ffd0dd0bc2ef4d03.jpg);
    background-size: 100%;
}

.sponsors div:nth-child(2){
    background: url(src/assets/4ead090bb63cdbdb2c3e9130ab4963bf.jpg);
    background-size: 100%;
    transform: scale(1.2);
}

.sponsors div:nth-child(3){
    background: url(src/assets/cdeabe5be57a091e71ce00334968423c.jpg);
    background-size: 100%;
}

.spon-cont{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0.7rem;
    /* flex-wrap: wrap; */
    /* gap: 20px; */
}

.sponsors svg{
    height: 4rem;
}


/* testimonial */
.testimonial{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 2rem 0px;
    height: 80vh;
}

.test-wrap{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

}

.review h5{
    font-size: 1.4rem;

}

.review p{
    font-size: 1em;
}

.testimonial .review{
    height: 100%;
    width: 400px;
    /* width: 30%; */
    /* border: 1px solid grey; */
    box-shadow: 0px 0px 10px 0px rgba(128, 128, 128, 0.386);
    border-radius: 6px;
    background-color: white;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    padding: 1rem;
}
.profile{
    display: flex;
    align-items: center;
    /* background-color: red; */
    width: 100%;
height: 6rem;
    gap: 10px;
}

.profile span{
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    /* z-index: -1; */
    border: 1px solid var(--light-grey);
}

.user1{
    background-image: url(src/assets/78be956da5c9e48309f97488b3670755.jpg);
}
.user2{
    background: url(src/assets/86cf0ebf3e15511d74cb43221e5abf7f.jpg);
}
.user3{
    background: url(src/assets/aa06d77cd048b867f5d0b40362e62a76.jpg);
}
.user p{
    font-size: 0.8rem !important;
    font-weight: 500;
}


.testimonial h2{
    font-size: 3rem;
}
/* want to join us: suscribe */

.subscribe{
    display: flex;
    background-color: var(--soft-blue);
    width: 80%;
    height: 25vh;
    border-radius: 10px;
    margin: 0px auto;
    align-items: center;
    justify-content: space-between;
    padding: 0px 4rem;
    color: white;
    box-shadow: inset -10px -10px 40px 0px rgba(0, 8, 255, 0.21);
}

.subscribe h2{
    font-size: 2rem;
}

.input {
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: white;
    width: 80%;
    height: 40%;
    border-radius: 10px;
    padding: 0.4rem;
}
.input input{
    flex: 1;
    display: flex;
    height: 100%;
    padding: 1rem;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
}


.subscribe button{
    background: linear-gradient(to left, var(--soft-blue), var(--soft-pink));
    border: none;
    color: white;
    font-size: 1em;
    font-weight: 500;
    height: 3.6rem;
    width: 12rem;
    border-radius: 4px;
}

.footer{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding-top: 2rem;
}

footer{
    width: 100%;
    min-height: 50vh;
    background: url(src/assets/8056f3ff67d14b09fe82fab936d8824e.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}
footer svg{
    fill: white !important;
}

.foot-wrap{
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    height: 50vh;
    
}

footer::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.63); /* Adjust the alpha (last) value to control darkness */
    pointer-events: none;
}

.foot-left{
    width: 50%;

}


footer ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    scale: 0.8;
}


footer ul li{
    color: white;
    fill: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

footer li a{
    height: 3rem;
    width: 3rem;
    border-radius: 5px;
    background-color: var(--soft-blue);
    fill: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
}
